<div class="module">
  <h3>Web Scripting <small>4 Items</small></h3>
  <div class="items">
    <div class="item">
      <div class="type">?</div>
      <div class="details">
        <h4>Client-Side Coursework</h4>
        <div class="weighting">Weighting: 25%</div>
      </div>
      <div class="grade">78%</div>
    </div>
    <div class="item">
      <div class="type">?</div>
      <div class="details">
        <h4>Server-side Coursework</h4>
        <div class="weighting">Weighting: 25%</div>
      </div>
      <div class="grade">82%</div>
    </div>
    <div class="item">
      <div class="type">?</div>
      <div class="details">
        <h4>Web Application</h4>
        <div class="weighting">Weighting: 50%</div>
      </div>
      <div class="grade pending">Pending</div>
    </div>
  </div>
  <div class="module-details">
    <div class="average">
      80%
     <div>Running Average</div>
    </div>
    <div class="total">
      40%
      <div>Module Total</div>
    </div>
  </div>
</div>