<aside class="sidebar">
  <ul>
    <li>
        <a href="/"><i class="fa fa-window-maximize fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="/module/create"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="/"><i class="fa fa-sliders fa-2x" aria-hidden="true"></i></a>
    </li>
  </ul>
</aside>

        