{{> header title="UOP Track" }}
  {{> sidebar }}
  <div class="container" data-page="dashboard">
    <main>
      <div class="content">
        {{> module }}
      </div>
      <div class="create">
        <a href="/module/create"> +</a>
      </div>
    </main>
  </div>
  <div class="settings">
    <div class="settings-content">
      Settings
    </div>
  </div>
{{> footer }}