{{> header title="UOP Track" }}
  {{> sidebar }}
  <div class="container" data-page="dashboard">
    <main>
      <div data-item="modules" class="content">
          {{> module }}
      </div>
    </main>
  </div>
{{> footer }}