$uopPurple: purple;
@import 'components/input';
@import 'components/floatInput';
@import 'components/button';
@import 'components/helper';

body {
    main {
        display: none;
    }
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    header {
        background: $uopPurple;
        height: 200px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {font-weight: 300;}
    }
    background: grey;
    section {
        min-height: 500px;
        width: 100%;
        background: white;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;

        @include for-size(tablet-landscape-up) {
            width: 50%;
        }
    }
}

