@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import '/node_modules/tingle.js/dist/tingle.min.css';
@import 'partials/resets';
@import 'partials/sidebar';
@import 'partials/inputs';

body {
    background: #ecf0f1; 
    display: flex;
}

main {
    position: relative;
}
.container {
    // display: flex;
    font-family: 'Open Sans', sans-serif;
    // flex-wrap: wrap;
    flex: 12;
    .content {
        display: flex;
        flex: auto auto;
        flex-wrap: wrap;
        justify-content: flex-start;

            .module {
                margin-left: 20px;
                h3 {margin: 20px 0; font-weight: 300; small{font-size: 60%; color: grey}}
                // &:first-child {
                //     margin-left: 20px;
                // }
                .items{
                    max-height: 300px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    &::-webkit-scrollbar {
                        width: 8px;
                        background: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background: slategrey;
                    }
                    .item{
                        flex-grow: 1;
                        min-width: 300px;
                        height: 80px;
                        margin-bottom: 20px;
                        background: white;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 3px;
                        flex: 1;
                        
                        &:hover > .actions {
                            width: 35px;
                            justify-content: center;
                        }

                        
                        .type, .grade {
                            display: flex;
                            flex: 1;
                            justify-content: center;
                        }

                        .grade.pending {
                            font-size: 80%;
                            color: rgba(214, 214, 214, 0.8);
                            pointer-events: none;
                        }
                        .actions {
                            background: lighten(#34495e,40);
                            height: 100%;
                            display: flex;
                            align-items: center;
                            width: 0px;
                            justify-content: flex-start;
                            cursor: pointer;
                            transition: all .3s ease-out;
                        }
                        
                        .details {
                            flex: 3;
                            border-right: 1px solid rgba(214, 214, 214, 0.5);
                            .weighting {
                                font-size: 80%;
                            }
                        }

                    }
                }
                .module-details {
                    min-width: 300px;
                    height: 80px;
                    margin-bottom: 20px;
                    margin-right: 8px;
                    background: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                    .average, .total {
                        flex: 1;
                        text-align: center;
                        div {font-size:70%}
                    }
                }
            }
        }
    }
    // .drag-module {
    //     min-width: 350px;
    //     border-radius: 50px;
    //     // background: black;
    //     border: dashed 3px grey;
    // }
    .create {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3em;
        width: 80px;
        height: 80px;
        background: #3498db;
        border-radius: 40px;
        cursor: pointer;
        transition: font-size ease-in-out .1s;
        position: absolute;
        right: 20px;
        top: 20px;
        &:hover {
            font-size: 3.5em;
        }
    }

    .settings {
        display: hidden;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        .settings-content {
            height: 75%;
            width: 75%;
            background: white;
            margin: 50px;
            background: white;
            display: block;
            border-radius: 10px;
            
        }
    }


.container.page {
    padding: 20px;
    align-items: flex-end;
    .content {
        display: block;
    }
}

.element {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 45%;
    background: white;
    display: inline-block;
}